<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>
    <button mat-mini-fab (click)="sidenav?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title"> Project-Management </span>
  </span>
  <span class="spacer"></span>

  <button class="login" mat-mini-fab>
    <mat-icon> person </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100% - 64px)">
  <mat-sidenav #sidenav mode="slide" closed class="app-sidenav">
    <ng-container>
      <nav>
        <!-- Nav links -->
      </nav>
    </ng-container>
  </mat-sidenav>

  <div class="container"><router-outlet></router-outlet></div>
</mat-sidenav-container>
