<div class="container">
  <!-- Projects List -->
  <div class="col-50" layout="row" layout-align="center center">
    <dashboard-projects-list
      [projects]="projects$ | async"
      (selected)="selectProject($event)"
      (deleted)="deleteProject($event)"
    >
    </dashboard-projects-list>
  </div>
  <!-- project details -->
  <div class="col-50" layout="row" layout-align="center center">
    <dashboard-projects-details
      [project]="selectedProject"
      (saved)="saveProject($event)"
      (cancelled)="cancel()"
    >
    </dashboard-projects-details>
  </div>
</div>
